
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color:#424B54;
  text-shadow: 8px 4px 9px rgba(0,0,0,.1);
}
h1 {
  font-size: 26px;
}
h2 {
  font-weight: 010;
  font-size: 18px;
}

h3 {
  font-weight: 001;
  font-size: 30px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
  color: #587F6A;
  text-align: center;
}
p {
  font-family: 'Montserrat', sans-serif;
  color:#797A7A;
  padding: 20px;
  text-align: justify;
}

body {
  margin: 0;
  background-image: url(images/backgroud2.jpeg);
  opacity: 0.95;

}

a {
  text-decoration: none;
  color:#DBB1BC;
  transition:all 0.3s ease;
}

a:hover {
color:#9E788F;
}

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.main-header {
  margin: 0;
  height: 132px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.btn {
  background:#9E788F;
  width:150px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f9f3f4;
  transition:all 0.3s ease;
  font-size: 20px;
}
.btn:hover {
background: #BA96A0;
color: white;
transition-timing-function: ease;
}

.box-header {
  width: 400px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: #FFFCF7;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 200px;
  padding-left: 200px;
  margin: 16px auto;
  margin-top: 125px;
  border-radius: 8px;
}

.box-text {
  width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin:16px auto;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-right: 200px;
  padding-left: 200px;
  background: #FFFCF7;
  border-radius: 8px;
}
.container {
  width: 800px;
  text-align: center;
  margin:0 auto;
}


#header {
  margin-bottom: 29px;
  margin-top: 31px;
  text-align: center;
}

#sub-title {
  padding: 14px;
  border-bottom: 2px solid #797A7A;
}

.banner {
  border-bottom: 2px solid #797A7A;
}

.picture-profile {
  opacity: 1;
  margin-top: -84px;
  margin-left: 472px;
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  box-shadow: 3px 5px 20px 0px #797A7A;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.social-media {
  border-top: 2px solid #797A7A;
}

.social-icon {
  font-size: 50px;
}

.post-icon {
  color: #9E788F;
}
