body {
  margin: 0;
  opacity: 0.95;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
  font-weight: 200;
  letter-spacing: .05em;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
  color: black;
  text-align: center;
}

p {
  color:#797A7A;
  font-size: 1.25vw;
  padding: 20px;
  text-align: justify;
  font-family: 'IBM Plex Serif', serif;
  line-height: 2;
}

a {
  text-decoration: none;
  color:#DBB1BC;
  transition: 0.4s ease;
  text-shadow: 1px 1px 1px #9E788F;
}

a:hover {
  color: #EBE7F5;
}

.header-content{
  display: flex;
  width: 550px;
  padding-top: 35vh;
  padding-left: 20vw;
}

#hey{
  width: 200px;
  stroke-width: 2;
}

.entry-title{
  font-family: 'Oswald', sans-serif;
  font-size: 5vw;
  font-weight: 200;
  letter-spacing: .05em;
  padding-left: 5vh;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sub-title{
  padding-left: 5vh;
  font-size: 1.75vw;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  color: black;
  font-family: 'Satisfy', cursive;
}

.box-header {
  background-image: url("images/banner1.png");
  background-size: cover;
  min-height: 100vh;
}

.icons-growth:hover {
  transform: scale(1.3);
}

.btn {
  background: #BA96A0;
  width:150px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  transition: 0.4s ease;
  font-size: 20px;
  text-shadow: none;
}

.btn:hover {
  background: #EBE7F5;
  color: white;
  text-shadow: 0.5px 0.5px 10px lightgrey;
}

.container {
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

.box-text {
  max-width: 700px;
  margin:16px auto;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
}

.gif{
  position: absolute;
  padding-left: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.social-media {
  border-top: 1px solid lightgrey;
  margin-bottom: 50px;
  margin-top: 100px;
}

.social-media h3 {
  font-size: 2vw;
}

.social-icon {
  font-size: 50px;
}

.post-icon {
  color: #9E788F;
}


